.nav-link {
  position: relative;
  transition: color 0.3s;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: #007bff;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}
.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
